<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../public/jquery-stockquotes-develop/dist/jquery.stockquotes.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/jquery-stockquotes-develop/dist/jquery.stockquotes.css" />



  <script src="../js/index.js"></script>
</head>
<body>

  <div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        Twitter:  <span class="stock-quote" data-symbol="TWTR"></span><br><br>
        Facebook: <span class="stock-quote" data-symbol="FB"></span><br><br>
        Google:   <span class="stock-quote" data-symbol="GOOGL"></span><br><br>
        Netflix:  <span class="stock-quote" data-symbol="NTFLX"></span><br><br>
        Yahoo:    <span class="stock-quote" data-symbol="YHOO"></span><br><br>
      </div>
    </div>
  </div>
</body>
</html>

